SECRET_KEY=django-insecure-change-this-local-key
DEBUG=True
ALLOWED_HOSTS=127.0.0.1,localhost
CORS_ALLOW_ALL_ORIGINS=True
CORS_ALLOWED_ORIGINS=
CSRF_TRUSTED_ORIGINS=
SESSION_COOKIE_SECURE=False
CSRF_COOKIE_SECURE=False
API_PAGE_SIZE=20
API_MAX_PAGE_SIZE=100
CONTACT_THROTTLE_RATE=5/hour
